<p id="notice"><%= notice %></p>

<h1>Transaction Items</h1>

<table>
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @transaction_items.each do |transaction_item| %>
      <tr>
        <td><%= transaction_item.cart_item.product.product_id %></td>
        <td><%= transaction_item.cart_item.quantity %></td>
        <td><%= transaction_item.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
